<body
  style="
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* 100% de la ventana visible */
    margin: 0;      /* Quitar margen por defecto */
  "
>